/* Set custom properties */
:root {
    --bg-body: #151515;
    --bg-contact: #242424;
    --accent: #4ee1a0;
    --text: #fff;
    --bg-project: #caffe7;
    --transition: 250ms ease-in-out;
    --prjct-trans: 100ms ease-in-out;
}

/* Sets elements to border-box and set text to full base font size */
html {
    box-sizing: border-box;
    font-size: 100%;
}

/* Psuedo elements will inherit box sizing */
*, *::before, *::after {
    box-sizing: inherit;
}

/* Styling for body and adding font style */
body {
    margin: 0;
    font-family: 'Space Grotesk', sans-serif;
    background-color: var(--bg-body);
    color: var(--text);
    font-size: 1.125;
    line-height: 1.56;
}

/* Styling for sections wrapper */
.main-wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    max-width: 1400px;
    margin-inline: auto;
}

/* Header will span full width */
header {
    max-width: 100%;
    font-size: 1.5rem;
    font-size: clamp(1.5rem, 1.02rem + 2.04vw, 2rem);
    background-color: var(--bg-contact);
    border-bottom: 1px var(--accent) solid;
    display: flex;
    justify-content: space-around;
    margin-inline: auto;
}

/* Styling for my name in top left */
header h2 {
    margin: .5em 0;
    padding-inline: .5em;
    border: 1px var(--accent) solid;
    border-radius: .5em;
    background-color: var(--bg-body);
}

/* Start of nav links styling */
nav {
    display: flex;
    align-items: center;
}

    .nav-bar {
        display: flex;
        flex-direction: row;
    }

.nav-bar div {
    margin: 0 0 0 1.4em;
}

/* Change text color for links when mouse hovers over them */
 a {
    text-decoration: none;
    color: var(--text);
    transition: color var(--transition);
}

a:hover,
a:focus {
    color: var(--accent);
}

/* Start of styling for hero section */
.hero-wrapper {
    flex: 1;
    justify-content: space-around;
    align-items: center;
}

/* Text will scale down in size with page */
.hero-text {
    font-size: 1.5rem;
    font-size: clamp(1.5rem, 0.6818181818181818rem + 4.363636363636364vw, 4.5rem);
}

strong {
    color: var(--accent);
    font-size: 1.5rem;
    font-size: clamp(1.5rem, 0.2727272727272727rem + 6.545454545454546vw, 6rem);
    position: relative;
}

/* Styling for text in About section */
.about p {
    font-size: 0.75rem;
    font-size: clamp(0.75rem, 0.5454545454545454rem + 1.090909090909091vw, 1.5rem);
    line-height: 2em;
    padding-right: 1em;
}

/* Styling for picture of me */
img {
    max-height: 394px;
    border: 3px var(--accent) solid;
    border-radius: 7%;
}

/* Page sections will dispaly as separate blocks with flex items inside */
section {
    background-color: var(--bg-contact);
    margin: 2em 0 2em 0;
    padding: 3em 0;
    display: flex;
    flex: 0 0 100%;
    justify-content: space-between;
    border-radius: 15px;
}

/* Styling for page section headers */
section h2 {
    text-align: left;
    padding: 0 .25em 0 1em;
    text-decoration: underline var(--accentd);
    font-size: 3rem;
}

/* Content inside page sections will have initial size of 75% of section */
section > div{
    flex: 0 0 75%;
}

/* Start of styling for Projects section */
.projects-div a {
    margin: .25em;
}

.projects-div {
    padding: 1em 2em;
    justify-content: end;
}

.items {
    display: flex;
}

.items div {
    width: 50%;
}

.project {
    font-size: 1.5rem;
    min-height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3.5px var(--accent) solid;
    border-radius: 1em;
    background-color: var(--bg-project);
    background-blend-mode: multiply;
    background-size: 100%;
    cursor: pointer;
    position: relative;
}

.project::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: .7em;
    box-shadow:
    inset 0 0 1em var(--bg-project),
    0 0 1em var(--bg-project);
    opacity: 0;
    transition: opacity var(--prjct-trans);
}

/* Styling for project titles */
.project h3 {
    border-radius: 10px;
    padding-inline: .5em;
    background-color: var(--accent);
    color: var(--bg-contact);
    box-shadow: 0 0 1em var(--bg-project) opacity(0);
    text-align: center;
}

/* Add glow to projects when in hover state */
.project:hover::before,
.project:focus::before {
    opacity: 1;
}

/* Styling for content in Contact section */
.social-links {
    font-size: 1.5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* Background images for projects */
.netrobe {
    background-size: 90%;
    min-height: 460px;
    grid-column: span 2;
    background-image: url("./dotdrip.jpg");
}

.study-guide {
    background-image: url("./forecast.jpg");
}

.dog-bytes {
    background-image: url("./dog-bytes-screenshot.PNG");
}

.plotpoint {
    background-image: url("./dashboard.jpg");
}

.placeholder {
    background-image: url("./pokemonquiz.jpg");
}

/* Begin stacking elements as screen shortens width */
@media screen and (max-width: 990px) {
    header {
        flex-direction: column;
        align-items: center;
    }

    section {
        padding: 1.5em 0 3em 0;
    }

    .nav-bar {
        padding: .5em 0;
    }

    .nav-bar div {
        margin: 0 1em;
    }

    .hero-wrapper {
        flex-direction: column;
    }

    img {
        margin-top: 2em;
    }

    .about,
    .projects {
        display: flex;
        flex-direction: column;
    }

    section h2 {
        text-align: center;
        padding: 0;
    }

    .about p {
        padding: 1em;
    }

    .footer {
        flex-direction: column;

    }
}

/* Stack nav links, projects and social links */
@media screen and (max-width: 650px) {
    .nav-bar {
        flex-direction: column;
        align-items: center;
    }

    .items {
        flex-wrap: wrap;
    }

    .items div {
        width: 100%;
    }

    .social-links {
        display: flex;
        flex-direction: column;
    }
}